#errorMessageComponent {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--error-text);
  font-size: 12px !important;
  margin-top: 4px;

  .icon {
    font-size: 14px !important;
    color: var(--error-text);

    @media screen and (max-width: 992px){
      font-size: 12px;
    }
  }
}