#banner {
  background-color: var(--navbar-bg);
  padding: 16px 0;

  .container {
    width: 100%;
    padding: 4px 8px 0;
  }

  .banner-slide {
    width: 100%;
    aspect-ratio: 16 / 5;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      display: block;
    }
  }

  @media screen and (max-width: 992px) {
    padding: 8px 0;

    .banner-slide {
      aspect-ratio: 16 / 6.5;

      img {
        object-position: left center;
      }
    }
  }
}
