#banner {
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
  padding: 16px;
  margin: 32px auto;

  @media screen and (max-width: 992px) {
    margin: 0 auto 16px;
  }

  .parent {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    gap: 16px;
    height: 400px;
  }

  .div1 {
    grid-area: 1 / 1 / 3 / 3;
    height: 410px;
  }

  .div2 {
    grid-area: 1 / 3 / 2 / 5;
    height: 221px;
  }

  .div3 {
    grid-area: 2 / 3 / 3 / 4;
    height: 172px;
  }

  .div4 {
    grid-area: 2 / 4 / 3 / 5;
    height: 172px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  @media screen and (max-width: 992px) {
    .parent {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0;
      grid-row-gap: 0;
      gap: 8px;
      height: 385px;
    }

    .div1 {
      grid-area: 1 / 1 / 2 / 3;
      height: 150px;
    }
    .div2 {
      grid-area: 2 / 1 / 3 / 3;
      height: 150px;
    }
    .div3 {
      grid-area: 3 / 1 / 4 / 2;
      height: 90px;
    }
    .div4 {
      grid-area: 3 / 2 / 4 / 3;
      height: 90px;
    }
  }
}
